<h1>Search Twitter!</h1>


<% Twitter.configure do |config| %>
   <% config.consumer_key = 'phsKK8BFPaRsDjHRjKtyAQ' %>
   <% config.consumer_secret = 'h7EuYi8ykzCTvMZL6QSfsHZmOTzOCK45iV9y6r0h44' %>
   <% config.oauth_token = '69606125-OjXczRVe7qsG88UxPlmH4wTKtJaQ9QIeCAwTFlqr1' %>
   <% config.oauth_token_secret = '5miVbPREp3og8qyzQLxNi4BCwbgRgaulzoxl51Dc' %>
<% end %>

<% begin %>
  <% Twitter.update("I'm tweeting with @gem 1/13 13:38!") %>
<% rescue %>
  <% @error_message="#{$!}" %>
  <%= text_area_tag(:message, "ERROR: #{@error_message}", :size => "24x6") %>
<% ensure %>
  <br>
  <%= text_area_tag(:message, "DONE", :size => "24x6") %>
<% end %>

<% begin %>
  <ul>
  <%Twitter.search("Tebow", :rpp => 2, :result_type => "recent").map do |status| %>
      <li><%=  "FROM_USER:#{status.from_user}:TWEET:#{status.text}" %> </li>
  <% end %>
  </ul>
<% rescue %>
  <% @error_message="#{$!}" %>
  <%= text_area_tag(:message, "ERROR: #{@error_message}", :size => "24x6") %>
<% ensure %>
  <br>
  <%= text_area_tag(:message, "DONE", :size => "24x6") %>
<% end %>